
h1 {
	font-family: 'Helvetica Neue';
	font-weight: 800;
}

.credit {
	text-align: right;
	font-style: italic;
	font-size: 10px;
}

.bar {
	background-color: #49E3C5;
	height: 15px;
}

th {
	text-align: left;
}

tr:hover {
	cursor: pointer;
	background-color: #ddd;	
}

.active {
	background-color: #ddd;
}

#total_number {
	width:100%;
	font-family: 'Helvetica Neue';
	font-weight: 800;
	color: #FF6867;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
}

#rest {
	width:100%;
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: #012D3D;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}